* {
    font-family: "Poppins", sans-serif;
    
    font-size: 25px;
    color: #e8e9ea;
    transition-duration: 0.5s;
}

body {
    // cursor: none;
    background-color: #1e252b;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    align-items: center;
    display: flex;
}

#move {
    position: fixed;
    opacity: 0.5;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
}

nav {
    font-weight: 700;
    grid-column: auto;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin: 1%
}

#title {
    margin: 0.5vw;
    color: #e8e9ea
}

#menu {
    font-weight: 400;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #9a9da0;
}

li {
    color: #9a9da0;
    margin: 1vw;
    display: inline;
}

.menuButton {
    font-weight: 400;
    color: #9a9da0;
    background: none;
    border: none;
    margin-right: 1vw;
    display: inline;
}

.menuButton:hover {
    color: #ff6e30;
}

.button {
    font-weight: 600;
    color: #9a9da0;
    background: none;
    border: none;
    margin-right: 2vw;
}

.button:hover {
    color: #ff6e30;
}

.highlightedButton {
    font-weight: 600;
    color: #FDF5FF;
    background-color: #ff6e30;
    border-radius: 10px;
    height: 6vh;
    width: 9vw;
    border-color: #ff6e30;
    border-style: solid;
}

.highlightedButton:hover {
    color: #1e252b;
}

.block1 {
    display: flex;
    padding-left: 3%;
    padding-bottom: 2%;
    margin-right: 0;
}

.block1Text {
    display: inline;
    justify-content: space-between;
    margin-top: 0;
}

.block1Description {
    margin-right: 20%;
    color: #9a9da0
}

h1 {
    font-size: 70px;
    font-weight: 500;
    margin-top: 0;
}

#mock1 {
    width: 50%;
    float: right
}


.redDot {
    color: red;
    display: inline;
    font-size: 70px;
}

.searchBox {
    margin-top: 8%;
    background-color: #283036;
    // width: 54%;
    height: 7vh;
    font-size: 25px;
    border-radius: 13px;
    display: flex;
    flex-direction: row;
    justify-items: start;
    padding: 1%;
    max-width: 80%;
    justify-content:stretch;
    position: relative;
}


.searchIcon {
    margin-right: 2%;
    margin-left: 3%;
}

.searchInput {
    position: relative;
    background-color: #283036;
    border-radius: 5px;
    border: none;
    height: 7vh;
    background: none;
}

.searchBtn {
    position: absolute;
    right: 2%;
    font-weight: 600;
    color: #FDF5FF;
    background-color: #ff6e30;
    border-radius: 10px;
    height: 6vh;
    width: 9vw;
    border-color: #ff6e30;
    border-style: solid;
}

.searchBtn:hover {
    color: #1e252b;
}

input:focus {
    outline: none;   
}

.socials {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    margin-right: -15em;
}

.iconHighlighted {
    filter: brightness(0) saturate(100%) invert(87%) sepia(3%) saturate(105%) hue-rotate(155deg) brightness(95%) contrast(92%);
    margin-right: 5%;
}

.iconHighlighted img {
    position: fixed;
    margin-right: 10em;
}

.iconHighlighted:hover img {
    height: 2.5em;
}

.icon {
    filter: brightness(0) saturate(100%) invert(46%) sepia(7%) saturate(287%) hue-rotate(164deg) brightness(100%) contrast(91%);
}

.iconLike {
    filter: brightness(0) saturate(100%) invert(46%) sepia(7%) saturate(287%) hue-rotate(164deg) brightness(100%) contrast(91%);
}

.iconLike:hover {
    filter: brightness(0) saturate(100%) invert(35%) sepia(98%) saturate(4561%) hue-rotate(342deg) brightness(120%) contrast(98%);
    height: 1.2em
}

.popularTools {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.popularToolsDescription {
    color: #9a9da0;
    width: 30%;
    text-align: center;
    margin-top: 0;
}

.toolsGrid {
    display: grid;
    grid-template-columns: auto auto auto;    
}

.toolCard {
    border-radius: 20px;
    position: relative;
    align-items: start;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    background-color: #1e252b;
}

.toolCard:hover {
    background-color: #242C32;
    transition-duration: 0s;
}

.gradientBorder {
    overflow: hidden;
    margin-top: 25%;
    padding: 1px;
    display: flex;
    width: 450px;
    flex-direction: column;
    align-items: start;
    // height: 300px;
    margin-right: 2vw;
    margin-left: 2vw;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.gradientBorder:hover {
    background: linear-gradient(15deg, #242C32, #763E26);
}


.toolCardUpperBody {
    height: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5em;
}

.itemDescription {
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items:flex-start;
    width: 100%
}


.toolTitle {
    font-weight: 500;
    margin: 0px;
    font-size: 30px;
    width: 150%;
    color: #CDCFD0;
}

.toolCard:hover .toolTitle {
    color: white;
}

.toolIsPaid {
    margin: 0px;
    // margin-left: 10%;
    margin-top: 5%;
    text-align: left;
    color: #9A6B32;
    font-size: 17px;
    width: 150%;
}

.toolCard:hover .toolIsPaid{
    color: #FFA537;
}

.toolLogo {
    margin: 10%;
}

.description {
    text-align: left;
    margin: 10%;
    margin-left: 0;
    margin-top: 15%;
    font-size: 17px;
    font-weight: 400;
    color: #9a9da0;
}

.toolCard:hover .description {
    color: white;
}

.toolCardLowerBody {
    
    display: flex;
    justify-content: space-between;
    width: 100%
}

.ellipse {
    opacity: 0;
    position: absolute;
    right: -150px;
    top: -150px;
    filter: blur(50px)
}

.ellipseLeft {
    position: absolute;
    left: -150px;
    top: -150px;
    filter: blur(50px)
}

.toolCard:hover .ellipse {
    opacity: 1;
}

.loadMoreBtn {
    margin-top: 5%;
    color: #ff6e30;
    font-weight: 400;
    background-color: #1e252b;
    border-style: solid;
    border-width: 1px;
    border-color: #343B40;
    border-radius: 10px;
    padding: 18px;
    padding-left: 43px;
    padding-right: 43px;
}

.loadMoreBtn:hover {
    background-color: #ff6e30;
    color: #1e252b
}

.staticGradientBorder {
    overflow: hidden;
    position: relative;
    border-color: #1e252b;
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
    width: 90%;
    padding: 0;
    margin-top: 7em;
    margin-bottom: 3em;

    background: linear-gradient(-15deg, #242C32, #763E26);
}

footer {
    overflow: hidden;
    position: relative;
    border-radius: 25px;
    border: none;
    background-color: #21282F;
    width: 100%;
    margin-right: 0;
    margin: 1px;
}

.footerText {
    text-align: center;
    font-weight: 400;
    margin-top: 3%;
}

.partnersNames {
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-around;
}

.partnerName {
    filter: brightness(0) saturate(100%) invert(30%) sepia(17%) saturate(179%) hue-rotate(165deg) brightness(93%) contrast(96%);
}